
.form-profile form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.not-rounded .form-floating input {
  border-radius: 0;
}

.form-floating:first-of-type input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-floating:last-of-type input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-profile .form-floating:focus-within {
  z-index: 2;
}

.form-profile input {
  margin-bottom: -1px;
}

.form-profile input[type="password"] {
  margin-bottom: 10px;
}
