<div class="container-fluid sticky-bottom">
  <footer class="py-3 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Olympic Committee</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Museum</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Career</a></li>
    </ul>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-white">
      <li class="nav-item mx-2"><i class="fa-brands fa-facebook-square fa-xl"></i></li>
      <li class="nav-item mx-2"><i class="fa-brands fa-twitter-square fa-xl"></i></li>
      <li class="nav-item mx-2"><i class="fa-brands fa-instagram fa-xl"></i></li>
      <li class="nav-item mx-2"><i class="fa-brands fa-youtube fa-xl"></i></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 BCIT DTC-12</p>
  </footer>
</div>
