<!-- header -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html" width="48" height="31"><img src="images/logo_v2.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="navbar-item"><a class="nav-link me-4" href="../profile.html">My Profile</a></li>
        <li class="navbar-item"><a class="nav-link me-4" href="">Setting</a></li>
        <li class="navbar-item"><a class="nav-link" href="../login.html">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
