<!-- manu bar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <ul class="navbar-nav nav-justified w-100 text-center flex-row">
      <li class="nav-item">
        <a href="./main.html" class="nav-link d-flex flex-column text-white">
          <i class="fa-solid fa-house-chimney"></i>
          <span class="d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="./maps.html" class="nav-link d-flex flex-column text-white">
          <i class="fa-solid fa-map"></i>
          <span class="d-none d-sm-inline">Map</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="./events.html" class="nav-link d-flex flex-column text-white">
          <i class="fa-solid fa-calendar"></i>
          <span class="d-none d-sm-inline">Event</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="./past_scans.html" class="nav-link d-flex flex-column text-white">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span class="d-none d-sm-inline">History</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
